@import './../../_mixins.sass'
.container
  background-color: rgb(99 124 247 / .08)
  padding: 40px 15px 60px
  border-bottom: 1px solid #edeff3
  @media(max-width: 991px)
    padding: 60px 15px
.section
  @include container
.wrap
  display: flex
  flex-direction: column
  align-items: center
.form
  width: 97%
  display: flex
  justify-content: space-between
  align-items: center
  position: relative
  span
    position: absolute
    left: 0
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    width: 50px
    height: 30px
    display: block
  .input
    text-align: center
    width: 100%
    background-color: var(--white)
    font-size: 1.2rem
    line-height: 4rem
    color: var(--granite)
    padding: 0 75px
    border: none
    border-radius: 50px
    &::placeholder
      color: rgb(25 24 74 / .4)
    @media(max-width: 991px)
      font-size: 1rem
      padding: 0 65px
    @media(max-width: 575px)
      font-size: 0.9rem
      padding: 0 50px
  .btn
    position: absolute
    right: 16px
    background-color: var(--red-orange)
    box-shadow: 0 16px 40px rgb(11 169 166 / .16)
    transition: all ease .6s
    border-radius: 50%
    border: none
    width: 48px
    height: 48px
    padding: 0
    @media(max-width: 991px)
      right: 10px
      width: 43px
      height: 43px
    span
      top: 20%
      bottom: 0
      right: 0
      left: -1px
      position: absolute
      background-size: 24px auto
      background-repeat: no-repeat
      background-position: center
      @media(max-width: 991px)
        top: 15%
        left: -4px
.tags
  margin-top: 35px
  display: flex
  justify-content: space-between
  align-items: center
  @media(max-width: 991px)
    flex-direction: column
    align-items: flex-start
  span
    font-weight: 500
    margin-right: 12px
    display: block
    line-height: 1.5rem
  .list
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    @media(max-width: 991px)
      margin-top: 20px
      justify-content: flex-start
    .item
      margin-right: 12px
      @media(max-width: 991px)
        margin: 0 12px 12px 0
      &:last-child
        margin-right: 0
      a
        display: inline-block
        transition: all ease .3s
        padding: 0.5rem 1rem
        border-radius: 20px
        color: var(--mercury)
        background-color: rgb(99 124 247 / .08)
        &:hover
          background: none