:root {
  --white: #ffffff;
  --black: #000000;
  --tyrian-purple: #19184a;
  --mercury: #637cf7;
  --dark-blue: #19184a;
  --steel-blue: #377dff;
  --sonic-silver: #828282;
  --red-orange: #ff6955;
}
